

h1,h2,h3,h4 {
	font-family: 'Pacifico', cursive;
}

body {
	font-family: 'VT323', monospace;
	font-size: 36px;
	line-height: 54px;
}

.condensed {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
}

.text-large {
	font-size: 30px;
}

.footer {
	background: grey;
	color: white;
	text-align: center;
}